nodered/.flows.json.backup
[
    {
        "id": "flow-lumosense-1",
        "type": "tab",
        "label": "LumoSense Sensor Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject-temp",
        "type": "inject",
        "z": "flow-lumosense-1",
        "name": "Trigger Every 5 Seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "function-build-payload"
            ]
        ]
    },
    {
        "id": "function-build-payload",
        "type": "function",
        "z": "flow-lumosense-1",
        "name": "Build Sensor Data Payload",
        "func": "msg.method = \"POST\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    sensorId: \"room-101-temp\",\n    ts: new Date().toISOString(),\n    tempC: 9.92,\n    humidity: 40,\n    sig: \"dev-sig\"\n};\n\nreturn msg;\n// // Generate simulated sensor data\n// const sensorId = \"room-101-temp\";\n// const now = new Date().toISOString();\n\n// // Simulated temperature between 2–12°C\n// const tempC = Number((2 + Math.random() * 10).toFixed(2));\n\n// // Random humidity 40–60\n// const humidity = Math.floor(40 + Math.random() * 20);\n\n// // Build payload for backend API\n// const payload = {\n//     sensorId,\n//     ts: now,\n//     tempC,\n//     humidity,\n//     sig: \"dev-sig\"  // placeholder signature\n// };\n\n// msg.payload = payload;\n// msg.headers = { \"Content-Type\": \"application/json\" };\n// return msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "http-post-backend",
                "debug-output"
            ]
        ]
    },
    {
        "id": "http-post-backend",
        "type": "http request",
        "z": "flow-lumosense-1",
        "name": "POST to Backend",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.2.169/api/sensors/reading",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 140,
        "wires": [
            [
                "debug-backend-response"
            ]
        ]
    },
    {
        "id": "debug-output",
        "type": "debug",
        "z": "flow-lumosense-1",
        "name": "Show Payload Being Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug-backend-response",
        "type": "debug",
        "z": "flow-lumosense-1",
        "name": "Show Backend Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 140,
        "wires": []
    }
]